<odoo>
	<data>

		<record id='action_siswa' model='ir.actions.act_window'>
			<field name='name'>Siswa</field>
			<field name='res_model'>sekolah.siswa</field>
			<field name='view_mode'>tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Click to add Student
				</p>
			  <p>klik tombol create untuk tambah siswa baru</p>
			</field>
		</record>

		<record id="action_matapelajaran" model="ir.actions.act_window">
			<field name="name">Daftar Mata Pelajaran</field>
			<field name="res_model">sekolah.matapelajaran</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
				  Click to add a Course
				</p>
				<p>klik tombol create untuk tambah mata pelajaran  baru</p>
			</field>
		</record>

		<record id="action_t_ujian" model="ir.actions.act_window">
			<field name="name">Daftar Ujian</field>
			<field name="res_model">sekolah.t_ujian</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
				  Click to add a Task
				</p>
				<p>klik tombol create untuk tambah ujian baru</p>
			</field>
		</record>

		<record id="action_t_ujian_det" model="ir.actions.act_window">
			<field name="name">Detail Ujian</field>
			<field name="res_model">sekolah.t_ujian_det</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
				  Click to add a Task Detail
				</p>
				<p>klik tombol create untuk tambah detail ujian baru</p>
			</field>
		</record>

	<menuitem id="sekolah_0"
		name="Sekolah"
		/>

	<menuitem id="sekolah_1"
		name="Sekolah"
		parent="sekolah_0"
		/>

	<menuitem id="menu_sekolah_siswa"
		name="Siswa"
		parent="sekolah_1"
		action="action_siswa"
		/>

	<menuitem id="menu_sekolah_matapelajaran"
		name="Daftar Mata Pelajaran"
		parent="sekolah_1"
		action="action_matapelajaran"
		/>

	<menuitem id="menu_sekolah_t_ujian"
		name="Daftar Ujian"
		parent="sekolah_1"
		action="action_t_ujian"
		/>

	<menuitem id="menu_sekolah_t_ujian_det"
		name="Detail Ujian"
		parent="sekolah_1"
		action="action_t_ujian_det"
		/>

	</data>
</odoo>